@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background: #000000;
}

.myName {
    font-family: 'swap', sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: 10px;
    text-shadow: 4px 2px 0 red, -4px -2px 0 blue;
    cursor: pointer;
    animation: shadows 0.3s ease-in infinite;
}

@keyframes shadows {
    0%, 100% {
        text-shadow: 4px 0 0 red, 0 -4px 0 blue;
    } 25% {
        text-shadow: 4px 4px 0 red, -4px -4px 0 blue;
    } 50% {
        text-shadow: 0 4px 0 red, -4px 0 0 blue;
    } 75% {
        text-shadow: 0 0 0 red, 0 0 0 blue;
    }
}